* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blanchedalmond;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: rgb(24, 46, 121);
    height: 80px;
}

h1 {
    margin-left: 30px;
    padding-top: 18px;
}

.auto-ajuda {
    background-color: rgb(33, 60, 150);
    text-align: center;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 15px;
}

.romance {
    margin-top: 15px;
    margin-bottom: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    border-radius: 15px;
    background-color: rgb(33, 60, 150);
}

figure {
    display: inline-block;
}

img {
    width: 200px;
    height: 300px;
    margin-left: 20px;
    margin-top: 10px;
}

div {
    position: relative;
    width: 600px;
    left: 50%;
    margin-left: -300px;
}

footer {
    background-color: rgb(24, 46, 121);
    padding: 10px;
}

footer h2 {
    margin-left: 15px;
    font-size: 14pt;
}

footer ul {
    margin-left: 20px;
    list-style: none;
}