@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: white;
    background-image: url("./assets/the_witcher_hell.png");
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

header section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30vw;
}

header img {
    width: 40px;
}

header section h2 {
    font-weight: 300;
    font-size: 16px;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    width: 40vw;
    list-style: none;
    cursor: pointer;
}

nav ul li:hover {
    font-weight: 400;
}

main { 
    display: flex;
    justify-content: center;
    align-items: center;
    
}

main section {
    background-image: url("./assets/the_witcher_kavil2.png");
    background-size: cover;
    width: 32vw;
    height: 93.7vh;
    margin-top: -33px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main section figure {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20vw;
    
}

main section figure img {
    margin-top: 20px;
}

.the_witcher {
    width: 44vh;
    margin-top: 150px;
}

.btn {
    width: 34vh;
}