* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(33, 18, 90);
    color: white;
}

h1, h2 {
    text-align: center;
    margin-top: 10px;
}

section {
    background-color: rgb(43, 58, 141);
    position: absolute;
    width: 600px;
    height: 490px;
    left: 50%;
    margin-left: -300px;
    border-radius: 20px;
    margin-top: 20px;
}

ol {
   padding-left: 35px;
}

li {
    margin: 15px;
}